<div ng-repeat="show in $ctrl.shows"
    class="col-xs-6 col-md-3">
    <div class="thumbnail">
        <img ng-src="{{show.image.medium}}" ng-if="show.image.medium" alt="{{show.name}}" title="{{show.name}}">
        <img src="https://placehold.it/210x295?text=No Image Available" ng-if="!show.image.medium" alt="{{show.name}}" title="{{show.name}}">

        <div class="caption" ng-if="$ctrl.user">

            <button class="btn btn-primary btn-block"
                ng-if="!$ctrl.isFavorite(show)"
                ng-click="$ctrl.markAsFavorite(show)">Mark as Favorite</button>

            <button class="btn btn-primary btn-block btn-success"
                ng-if="$ctrl.isFavorite(show)"
                ng-click="$ctrl.removeAsFavorite(show)">Favorite</button>
        </div>
    </div>
</div>