<form
    name="$ctrl.changeEmailForm"
    no-validate
    ng-submit="$ctrl.submitFormHandler($ctrl.formData)">

    <div class="form-group">
        <label for="currentPasswordInput">Current Password</label>
        <input id="currentPasswordInput"
            type="password"
            class="form-control"
            ng-model="$ctrl.formData.currentPassword"
            required>
    </div>

    <div class="form-group">
        <label for="newEmailInput">Email</label>
        <input id="newEmailInput"
            type="email"
            class="form-control"
            ng-model="$ctrl.formData.newEmail"
            required>
    </div>

    <div class="form-group">
        <label for="confirmEmailInput">Confirm Email</label>
        <input id="confirmEmailInput"
            type="email"
            class="form-control"
            ng-model="$ctrl.formData.confirmEmail"
            required>
    </div>

    <div class="alert alert-danger" role="alert"
        ng-if="$ctrl.errorMessage">
        {{$ctrl.errorMessage}}
    </div>

    <button class="btn btn-primary"
        type="submit"
        ng-disabled="!$ctrl.changeEmailForm.$valid">Submit</button>

    <button class="btn btn-default"
        ng-click="$ctrl.cancelFormHandler()">Cancel</button>
</form>